.preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: $color-dark;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease 0s;

    &__loader {
        @include wh(rem(100), rem(100));

        position: absolute;
        left: 50%;
        top: 50%;
        border: rem(10) solid $color-light;
        border-top-color: $color-purple;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        animation: spin 2s linear infinite;

        @keyframes spin {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }

            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    }

    &__prc {
        position: absolute;
        left: 50%;
        top: 50%;
        text-align: center;
        color: $color-light;
        transform: translate(-50%, -50%);
    }

    &__track {
        @include wh(rem(100), rem(5));

        position: relative;
        border-radius: rem(10);
        background-color: rgb(92 92 92);

        &::before {
            @include pseudo;

            display: block;
            border-radius: rem(10);
            width: 0;
            height: rem(5);
            background-color: $color-purple;
        }
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
    }
}