.dark {
    .page {
        color: #fff;
        background-color: #333;
    }

    .theme-change {
        background: url("@content/icons/sprite.svg#") 0 0 no-repeat;
    }
}

.light {
    .page {
        color: #333;
        background-color: #fff;
    }

    .theme-change {
        background: url("@content/icons/sprite.svg#") 0 0 no-repeat;
    }
}

.theme-change {
    @include wh(rem(30), rem(30));

    transition: all 0.6s ease;
}

.reset-theme {
    @include wh(rem(15), rem(15));

    border-radius: 50%;
    font-size: rem(10);
    color: $color-light;
    background-color: #f00;
    opacity: 0;
    visibility: hidden;

    &::before {
        content: "X";
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }
}