@if $container-type == 0 {
    [class*="__container"] {
        @if $max-width-container > 0 {
            margin: 0 auto;
            max-width: rem($max-width-container);
            box-sizing: content-box;
        }

        @if $container-padding > 0 {
            @if $max-width-container > 0 {
                padding: 0 rem(math.div($container-padding, 2));
            } @else {
                @include adaptive-value("padding-left", math.div($container-padding, 2), 15);
                @include adaptive-value("padding-right", math.div($container-padding, 2), 15);
            }
        }
    }
} @else {
    [class*="__container"] {
        margin: 0 auto;

        @if $max-width-container > 0 {
            max-width: rem($max-width-container);
            box-sizing: content-box;
        } @else {
            @if $container-padding > 0 {
                padding: 0 rem(math.div($container-padding, 2));
            }
        }

        @media (max-width: md($pc)) {
            max-width: rem(970);
        }

        @media (max-width: md($tablet)) {
            max-width: rem(750);
        }

        @media (max-width: md($mobile)) {
            max-width: none;

            @if $container-padding > 0 and $max-width-container > 0 {
                padding: 0 rem(math.div($container-padding, 2));
            }
        }
    }
}