<footer data-watch="navigator" data-watch-threshold="0.5" class="footer">
    <div class="footer__container">
        <div class="footer__info">
            <a href="index.html" class="footer__logo">Saimon</a>
            <div class="footer__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempor morbi vulputate nec amet purus mauris nibh. Neque, dictum urna</div>
            <div style="color:#fff;font-family:sans-serif;">Front End <a href="https://nikkeyl.vercel.app" style="color:#ff003c;text-decoration:underline">nikkeyl</a></div>
        </div>
        <div class="column-footer footer__column">
            <div class="column-footer__button">Search</div>
            <ul>
                <li>
                    <a href="#" aria-label="link to other page" class="column-footer__link">Facebook Influencer</a>
                </li>
                <li>
                    <a href="#" aria-label="link to other page" class="column-footer__link">Twitter Influencer</a>
                </li>
                <li>
                    <a href="#" aria-label="link to other page" class="column-footer__link">Instagram INfluencer</a>
                </li>
                <li>
                    <a href="#" aria-label="link to other page" class="column-footer__link">Snapchat Influiencer</a>
                </li>
                <li>
                    <a href="#" aria-label="link to other page" class="column-footer__link">Youtube Influencer</a>
                </li>
                <li>
                    <a href="#" aria-label="link to other page" class="column-footer__link">Twitter Influencer</a>
                </li>
            </ul>
        </div>
        <div class="column-footer footer__column">
            <div class="column-footer__button">Information</div>
            <ul>
                <li>
                    <a href="#" aria-label="link to other page" class="column-footer__link">About Our Company</a>
                </li>
                <li>
                    <a href="#" aria-label="link to other page" class="column-footer__link">FAQ</a>
                </li>
                <li>
                    <a href="#" aria-label="link to other page" class="column-footer__link">Support</a>
                </li>
                <li>
                    <a href="#" aria-label="link to other page" class="column-footer__link">Guidline</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
