<header data-lp data-scroll-show class="header">
    <div class="header__container">
        <a href="index.html" class="header__logo">
            <img src="@content/svg/logo.svg" alt="logo">
        </a>
        <div class="menu header__menu">
            <nav class="menu__body">
                <ul data-line-effect class="menu__list">
                    <li>
                        <a href="#"  aria-label="site navigation link" data-goto-header data-goto=".home" class="menu__link">Home</a>
                    </li>
                    <li>
                        <a href="#" aria-label="site navigation link" data-goto-header data-goto=".studios" class="menu__link">About</a>
                    </li>
                    <li>
                        <a href="#" aria-label="site navigation link" data-goto-header data-goto=".find" class="menu__link">Influencer</a>
                    </li>
                    <li>
                        <a href="#" aria-label="site navigation link" data-goto-header data-goto=".footer" class="menu__link">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="actions header__actions">
            <a href="#" aria-label="Create account" class="button button--black actions__button">Create Account</a>
            <button aria-label="menu icon" type="button" class="actions__icon icon-menu">
                <span></span>
            </button>
        </div>
    </div>
</header>