.menu {
    &__body {
        @media (max-width: md($mobile)) {
            @include wh(100%, 100%);

            position: fixed;
            left: -100%;
            top: 0;
            z-index: 4;
            overflow: auto;
            padding-top: rem(80);
            background-color: $color-light;
            transition: all 0.3s ease;

            &::before {
                @include pseudo($position: fixed);
                @include adaptive-value("height", 70, 60, 767, 320, 1);

                left: -100%;
                top: 0;
                z-index: 4;
                width: 100%;
                background-color: $color-light;
            }

            .menu-open & {
                left: 0;

                &::before {
                    left: 0;
                }
            }
        }
    }

    &__link {
        $font-size: 18;

        position: relative;
        display: block;
        overflow: hidden;
        padding: rem(5) calc(rem(35) / 2);
        font-size: rem($font-size);
        line-height: math.div(22, $font-size);
        text-transform: capitalize;
        transition: all 0.3s ease;

        &.navigator-active {
            color: $color-light;
            background-color: $color-dark-green;
        }

        @media (max-width: md($mobile)) {
            padding: calc(rem(20) / 2) calc(rem(35) / 2);
        }

        @media (any-hover: hover) {
            &:hover {
                color: $color-light;
                background-color: $color-dark-green;
            }
        }

        @media (max-width: md($mobile)) {
            $font-size: 22;

            font-size: rem($font-size);
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: em($mobile)) {
            row-gap: rem(10);
        }

        @media (max-width: md($mobile)) {
            flex-direction: column;
            align-items: center;
        }
    }
}
