//========================================================================================================================================================//
.anim-rise {
    opacity: 0;
    transform: translateY(rem(20));
    transition: all 0.3s ease;

    &.watcher-view {
        opacity: 1;
        transform: translateY(0);
    }
}

//========================================================================================================================================================//
.anim-ltr {
    opacity: 0;
    transform: translateX(rem(-20));
    transition: all 0.3s ease;

    &.watcher-view {
        opacity: 1;
        transform: translateX(0);
    }
}

//========================================================================================================================================================//
.anim-rtl {
    opacity: 0;
    transform: translateX(rem(20));
    transition: all 0.3s ease;

    &.watcher-view {
        opacity: 1;
        transform: translateX(0);
    }
}

//========================================================================================================================================================//
.anim-opacity {
    opacity: 0;
    transition: opacity 0.3s ease;

    &.watcher-view {
        opacity: 1;
    }
}